In [ ]:

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
connection_string

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT DISTINCT sumdgroup
FROM scooters
'''

with engine.connect() as connection:    
    scooter= pd.read_sql(text(query), con = connection)

In [ ]:
scooter

In [ ]:
unique_sumdgroup_values=scooter['sumdgroup'].unique()
unique_sumdgroup_values

- What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising?

In [ ]:
query = '''
SELECT MIN(latitude),MIN(longitude)
FROM scooters
'''

with engine.connect() as connection:    
    min_lat_lon= pd.read_sql(text(query), con = connection)

In [ ]:
min_lat_lon

In [ ]:
query = '''
SELECT MAX(latitude),MAX(longitude)
FROM scooters
'''

with engine.connect() as connection:    
    max_lat_lon= pd.read_sql(text(query), con = connection)

In [ ]:
max_lat_lon

In [ ]:
query = '''
SELECT DISTINCT companyname
FROM trips;
'''

with engine.connect() as connection:    
    trips_company= pd.read_sql(text(query), con = connection)

In [ ]:
trips_company

-What is the range of values for trip duration and trip distance?

In [ ]:
query = '''
SELECT min(tripduration)as min_duration,min(tripdistance)as min_dis
FROM trips;
'''

with engine.connect() as connection:    
    min_dur_dis= pd.read_sql(text(query), con = connection)

In [ ]:
min_dur_dis

In [ ]:
query = '''
SELECT max(tripduration)as max_duration,max(tripdistance)as max_dis
FROM trips;
'''

with engine.connect() as connection:    
    max_dur_dis= pd.read_sql(text(query), con = connection)

In [ ]:
max_dur_dis

In [ ]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

with engine.connect() as connection:    
    scooters= pd.read_sql(text(query), con = connection)

In [ ]:
scooters

In [ ]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:    
    trips= pd.read_sql(text(query), con = connection)

In [ ]:
trips

Are there any null values in any columns in either table?

In [ ]:
scooter.isnull()

In [ ]:
trips.isnull()

What date range is represented in each of the date columns? Investigate any values that seem odd

In [ ]:
trips.columns

In [ ]:
start_date=trips['startdate'].min()
start_date

In [ ]:
end_date=trips['enddate'].max()
end_date

- Is time represented with am/pm or using 24 hour values in each of the columns that include time?

In [ ]:
trips['starttime'].head()

In [ ]:
trips['endtime'].head()

it is a 24 hour value

In [ ]:
scooter.info()

In [ ]:
trips.info()

In [ ]:
scooter.isna().sum()

In [ ]:
trips.isna().sum()

- What values are there in the sumdgroup column? Are there any that are not of interest for this project?

In [ ]:
scooter['sumdgroup'].info()

What are the costs and benefits associated with different scooter density levels, and how do they align with the city's objectives?

In [ ]:
query = '''
SELECT DISTINCT companyname
FROM trips;
'''

with engine.connect() as connection:    
    trips_company= pd.read_sql(text(query), con = connection)

In [ ]:
query = '''
SELECT companyname,
    AVG(costpermin) AS average_costs_per_min
FROM
    scooters
GROUP BY
 companyname   
;
'''

with engine.connect() as connection:    
    costs_company= pd.read_sql(text(query), con = connection)

In [ ]:
costs_company

In [ ]:
costs_company['companyname'] = costs_company['companyname'].str.title()

In [ ]:
 costs_company=costs_company.sort_values('average_costs_per_min', ascending=False)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

costs_company.set_index('companyname', inplace=True)
cmap = sns.color_palette("Set2")
costs_company['average_costs_per_min'].plot(kind='bar', color=cmap)
plt.xlabel('Company Name')
plt.ylabel('average_costs_per_min')
plt.title('Average Costs Per Minute by Company')
plt.show()

In [ ]:
costs_company['companyname'], costs_company['average_costs_per_min'].plot(kind = 'bar', 
                                                          stacked = True,       
                                                          color = [ 'coral', 'pink'],     
                                                          edgecolor = 'black')  
plt.savefig("avarage cost per min.pdf")

#calculate density#

-What is the average number of trips per day M-S? ( this will help determine demand)

In [ ]:
query = '''
SELECT *
FROM trips
LIMIT 10;
'''

with engine.connect() as connection:    
    trips= pd.read_sql(text(query), con = connection)

In [ ]:
trips

In [ ]:
type(trips)

In [ ]:
query = '''
SELECT DATE_TRUNC('day', pubtimestamp) AS day
FROM trips
WHERE pubtimestamp BETWEEN '2019-05-13' AND  '2019-05-18'
GROUP BY day, pubtimestamp
ORDER BY day;
'''
with engine.connect() as connection:
   trips_per_day = pd.read_sql(text(query), con = connection)

In [ ]:
trips_per_day.value_counts()

In [ ]:
query = '''
SELECT day, AVG(trip_count) AS average_trips_per_day
FROM (
    SELECT DATE_TRUNC('day', pubtimestamp) AS day, COUNT(*) AS trip_count
    FROM trips
    WHERE pubtimestamp BETWEEN '2019-05-13' AND '2019-05-18'
    GROUP BY day, pubtimestamp
) AS subquery
GROUP BY day
ORDER BY day;
'''
with engine.connect() as connection:
   avg_trips_per_day = pd.read_sql(text(query), con = connection)

In [ ]:
avg_trips_per_day

Which hours in a day are "high demand"?

In [ ]:
query = '''
SELECT EXTRACT(HOUR FROM pubtimestamp) AS hour_of_day,
       COUNT(*) AS trip_count
FROM trips
GROUP BY hour_of_day
ORDER BY trip_count DESC
LIMIT 24;
'''
with engine.connect() as connection:
   high_demand = pd.read_sql(text(query), con = connection)

In [ ]:
high_demand

In [ ]:
query_days = '''
SELECT DISTINCT DATE_TRUNC('day', pubtimestamp) AS day
FROM trips
'''
with engine.connect() as connection:
    days = pd.read_sql(text(query_days), con = connection)

In [ ]:
days

In [ ]:
high_demand['avg_daily_trips'] = high_demand['trip_count']/(len(days))

In [ ]:
high_demand.sort_values(by='avg_daily_trips', ascending = True)

In [ ]:
query = '''
SELECT TO_CHAR(pubtimestamp, 'HH12 AM') AS hour_of_day_am_pm,
       COUNT(*) AS trip_count,
       AVG(COUNT(*)) OVER () as avg_trip_count
FROM trips
GROUP BY hour_of_day_am_pm
ORDER BY trip_count DESC
LIMIT 24;
'''
with engine.connect() as connection:
    days = pd.read_sql(text(query_days), con = connection)

In [ ]:
days

In [ ]:
hour_mapping = {
   0.0: '12:00 AM',
   1.0: '1:00 AM',
    2.0: '2:00 AM' ,
    3.0: '3:00 AM', 
    4.0: '4:00 AM', 
    5.0: '5:00 AM', 
    6.0: '6:00 AM', 
    7.0: '7:00 AM', 
     8.0: '8:00 AM', 
     9.0: '9:00 AM', 
    10.0: '10:00 AM', 
     11.0: '11:00 AM' , 
     12.0: '12:00 PM' , 
     13.0: '1:00 PM' , 
     14.0: '2:00 PM', 
     15.0: '3:00 PM' , 
     16.0: '4:00 PM' , 
     17.0: '5:00 PM' , 
     18.0: '6:00 PM' , 
     19.0: '7:00 PM' , 
     20.0: '8:00 PM' ,
     21.0: '9:00 PM' , 
     22.0: '10:00 PM',
     23.0: '11:00 PM'}

In [ ]:
high_demand['hour_of_day'] = high_demand['hour_of_day'].replace(hour_mapping)

In [ ]:
high_demand['hour_of_day']

In [ ]:
high_demand['avg_daily_trips'] = high_demand['trip_count']/(len(days))

In [ ]:
high_demand.sort_values(by='avg_daily_trips', ascending = True).plot(kind='line')

Average distance traveled by company name

In [ ]:
plt.figure(figsize=(8, 6))
plt.plot(high_demand_by_hour['hour_of_day'], high_demand_by_hour['avg_daily_trips'], color='darkblue',marker='o', linestyle='-')
plt.xlabel('hour')
plt.ylabel('Trips')
plt.title('Trips By Hour')
plt.xticks(high_demand_by_hour['hour_of_day'], hour_labels, rotation=45)
plt.show()

In [ ]:
query = '''
SELECT companyname, AVG(tripdistance) AS average_distance
FROM trips
GROUP BY companyname;
'''
with engine.connect() as connection:
   avg_dis_companyname = pd.read_sql(text(query), con = connection)

ft to miles 0.000189394

In [ ]:
avg_dis_companyname['companyname'] = avg_dis_companyname['companyname'].str.title()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

avg_dis_companyname.set_index('companyname', inplace=True)
cmap = sns.color_palette("Set2")
avg_dis_companyname['average_distance'].plot(kind='bar', color=cmap)
plt.xlabel('Company Name')
plt.ylabel('Average Distance')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

avg_dis_companyname.set_index('companyname', inplace=True)
cmap = sns.color_palette("Set2")
avg_dis_companyname['average_distance'].plot(kind='bar', color=cmap)
plt.xlabel('Company Name')
plt.ylabel('Average Distance')
plt.show()

In [ ]:
avg_dis_companyname=avg_dis_companyname.crosstab(avg_dis_companyname['companyname'], avg_dis_companyname['average_distance']).plot(kind = 'bar')

what is the ideal number of scooters to be out to meet customer demand without over crowding

In [ ]:
scooters

In [ ]:
scooters['pubdatetime'] = pd.to_datetime(scooters['pubdatetime'])

In [ ]:
scooters['hour_of_day'] = scooters['pubdatetime'].dt.hour
demand_per_hour = scooters.groupby('hour_of_day').size()

In [ ]:
type(demand_per_hour)

In [ ]:
scooters['hour_of_day']

In [ ]:
scooters['pubdatetime']

In [ ]:

import matplotlib.pyplot as pltp

In [ ]:
pltp.figure(figsize=(12, 6))
pltp.scatter(X, y, label='Actual Demand', color='b')
pltp.xlabel('Hour of Day')
pltp.ylabel('Demand')
pltp.legend()
pltp.show()

In [ ]:
query = '''
SELECT EXTRACT(HOUR FROM pubtimestamp) AS hour_of_day,
       COUNT(*) AS trip_count, AVG(trip_count) as avg_trip_COUNT
FROM trips
GROUP BY hour_of_day
ORDER BY trip_count DESC
LIMIT 24;
'''
with engine.connect() as connection:
   high_demand = pd.read_sql(text(query), con = connection)