In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine, text

In [3]:
db_name = 'scooters'
con_str = 'f"postgresql://postgres:postgres@localhost:5432/{db_name}'

In [4]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/scooters')

What is each company name represented in scooters table?

In [5]:
all_companies_q = '''
SELECT DISTINCT companyname
FROM scooters
;
'''
with engine.connect() as connection:    
    company = pd.read_sql(text(all_companies_q), con = connection)

In [21]:
company

  companyname
0        Bird
1        Bolt
2      Gotcha
3        Jump
4        Lime
5        Lyft
6        Spin

What is each company name represented in trips table?

In [36]:
all_companies_q2 = '''
SELECT DISTINCT companyname
FROM trips
LIMIT 10;
'''
with engine.connect() as connection:    
    company2 = pd.read_sql(text(all_companies_q2), con = connection)

In [37]:
company2

     companyname
0           Bird
1  Bolt Mobility
2         Gotcha
3           JUMP
4           Lime
5           Lyft
6           SPIN

What are minimum and maximum values for longitude and latitude?

In [8]:
min_latlong = '''
SELECT MIN(latitude) AS min_lat,
       MAX(latitude) AS max_lat,
       MIN(longitude) AS min_long,
       MAX(longitude) AS max_long
FROM scooters;
'''
with engine.connect() as connection:    
    latlong_min = pd.read_sql(text(min_latlong), con = connection)

In [13]:
latlong_min

   min_lat       max_lat   min_long  max_long
0      0.0  3.609874e+06 -97.443879       0.0

In [6]:
latlong_info = '''
SELECT scooters.pubdatetime,
       trips.startdate,
       scooters.latitude
FROM trips
INNER JOIN scooters ON scooters.sumdid=trips.sumdid
ORDER BY scooters.latitude DESC
LIMIT (5);
'''
with engine.connect() as connection:
    big_lat = pd.read_sql(text(latlong_info),con = connection)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [18]:
big_lat

Empty DataFrame
Columns: [pubdatetime, startdate, latitude]
Index: []

What are the minimum and maximum trip distance?

In [42]:
trip_dist = '''
SELECT MIN(tripdistance) AS min_trip,
       MAX(tripdistance) AS max_trip
FROM trips;
'''
with engine.connect() as connection:    
    trip_dist_range = pd.read_sql(text(trip_dist), con = connection)

In [41]:
trip_dist_range

     min_trip      max_trap
0 -20324803.8  3.188448e+07

How many trips per company in trips table?

In [55]:
reg_distance = '''
SELECT COUNT(tripdistance) AS total_trips,
       companyname
FROM trips
GROUP BY companyname;
'''
with engine.connect() as connection:
    reg_dist = pd.read_sql(text(reg_distance), con = connection)

In [56]:
reg_dist

   total_trips    companyname
0       152745           Bird
1        21890  Bolt Mobility
2         3315         Gotcha
3         6437           JUMP
4       225694           Lime
5       120991           Lyft
6        34450           SPIN

How many records by group of SUMD?

In [58]:
dist_type = '''
SELECT COUNT(*) AS total,
       sumdgroup
FROM scooters
GROUP BY sumdgroup;
'''
with engine.connect() as connection:
    dist_types = pd.read_sql(text(dist_type), con = connection)

In [59]:
dist_types

      total sumdgroup
0     26529   bicycle
1  59671463   scooter
2  13716051   Scooter

In [60]:
bike_data = '''
SELECT *
FROM scooters
WHERE sumdgroup LIKE 'bicycle'
'''
with engine.connect() as connection:
    bikes = pd.read_sql(text(bike_data), con = connection)

In [62]:
bikes.head(5)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:04:56.910,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.0,Lime
1,2019-05-01 00:09:56.970,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.0,Lime
2,2019-05-01 00:14:58.037,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.0,Lime
3,2019-05-01 00:19:57.383,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.0,Lime
4,2019-05-01 00:24:57.743,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.0,Lime

In [67]:
num_bikes = '''
SELECT sumdid,
       COUNT(*) AS rides
FROM scooters
WHERE sumdgroup LIKE 'bicycle'
GROUP BY sumdid
'''
with engine.connect() as connection:
    bikes_num = pd.read_sql(text(num_bikes), con = connection)

In [68]:
bikes_num

                  sumdid  rides
0  Standard2UGJKREVB53HT     26
1  Standard5JXOV277MCWID      6
2  StandardNPOOZNUSGAXZN      9
3  StandardNUTLLXP4G37OI      6
4  StandardNW5HJFO4R32LY  26476
5  StandardZPUQESHVPP74J      6